@import "tailwindcss";
body {
 margin: 0;
 padding: 0;
 overflow-x: hidden;
 box-sizing: border-box;
 outline: none;
 border: none;
 text-decoration: none;
 list-style: none;
 transition: all .3s linear;
 font-family: "Poppins", sans-serif;
 scroll-behavior: smooth;
}

html::-webkit-scrollbar {
 width: .8rem
}

html::-webkit-scrollbar-thumb {
 background: rgb(183, 127, 58);
 border-radius: 2rem
}